<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Smart English Official</title>
    <link rel="stylesheet" href="css/navbar-footer-settings.css" />
    <link rel="stylesheet" href="css/about.css" />
    <link rel="icon" href="img/Group 5.png" type="image/png" />
  </head>
  <body>
    <header>
      <nav class="container1">
        <div class="navbar-brand">
          <h3 class="logo-setting">
            smart english <br />
            official.
          </h3>
        </div>


        <ul class="linksToPages">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/courses">Courses</a></li>
        </ul>

        <div class="controls">
          <div class="changeLanguage">
            <h3 onclick="myFunction()" class="dropbtn">Eng</h3>

            <img
              id="direction"
              class="dropbtn"
              src="img/controlsPart.svg"
              alt=""
              onclick="myFunction()"
            />
            <ul id="drop-down" class="drop-down-menu">
              <li><a href="#">Uzb</a></li>
            </ul>
          </div>
          <div class="burger" onclick="name()">
            <div class="line line1"></div>
            <div class="line line2"></div>
            <div class="line line3"></div>
            <div id="main-menu-content" class="main-menu">
              <ul>
                <li><a href="/">Home</a></li>
                <hr style="width: 100%" />
                <li><a href="/about">About</a></li>
                <hr style="width: 100%" />
                <li><a href="/courses">Courses</a></li>
                <hr style="width: 100%" />
                <li><a href="/study">Ta'lim & ish</a></li>
                <hr style="width: 100%" />
                <li><a href="/vacancies">Vakansiya</a></li>
                <hr style="width: 100%" />
                <li><a href="/news">News</a></li>
                <hr style="width: 100%" />
                <li><a href="/contact">Bog'lanish</a></li>
              </ul>
            </div>
          </div>
        </div>
      </nav>

      <div class="attractiveAds container1">
        <h1>About Us</h1>
      </div>
    </header>

    <div class="container">
      <img class="effect" src="img/fotabout.svg" alt="" />
      <div class="history">
        <h1>Our History</h1>
        <div class="second-part">
          <p class="for-text">
            Exactly <span class="dark">4 years</span> ago, in the middle of
            winter, on
            <span class="dark">January 5, 2017, Akmaljon Khusanov</span>
            established the <span class="dark">SMART ENGLISH</span> education
            center in <span class="dark">Marhamat City</span> under an
            individual entrepreneur in a small room with a small number of
            students. Soon, the company's name and
            <span class="dark">Akmaljon Husanov's</span> teaching methods spread
            among the students, which led to a sharp increase in the number of
            students. In the second half of <span class="dark">2018</span>, the
            company was officially transformed into
            <span class="dark">Smart English Official LLC.</span> And it has
            been working ever since. To date, the number of employees has
            exceeded <span>50</span>, the company has three branches in Marhamat
            and one branch in <span class="dark">Andijan</span> Andijan. Today,
            more than <span class="dark">800</span> students between the ages of
            <span class="dark">7</span> and <span class="dark">40</span> are
            enrolled and being educated.
          </p>
        </div>
      </div>

      <div class="mission">
        <h1>Our Mission</h1>
        <div class="second-part">
          <h3>Our goal is high</h3>
          <p class="for_text">We find curious young people</p>
          <br />
          <p class="for_text">
            Today, the demand for language in our country has grown
            significantly. This is due to the fact that young people have a
            strong position in the field of language, even without a diploma.
            That is why we are looking for young people who are interested in
            English.
          </p>

          <h3>We will teach</h3>
          <p class="for_text">
            The best investment is in education. Nowadays, language learning is
            a must-have. What you have to learn in 4 years in college can be
            learned perfectly in 1 year and we will try to do the job.
          </p>

          <h3>We help you get a job</h3>
          <p class="for_text">
            After 16 months of in-depth training, the door to a wide range of
            opportunities opens up for the student. The main thing is that
            without a diploma, without any acquaintances, it will be possible to
            work in large companies in our country and abroad, and we will help
            our students in this way.
          </p>
        </div>
      </div>

      <div class="video">
        <iframe
          src="https://www.youtube.com/watch?v=BGDT7Z3gza8&list=RDBGDT7Z3gza8&start_radio=1"
        >
        </iframe>
      </div>

      <div class="founder">
        <img src="img/Background 1.png" alt="" />
        <div class="second-part">
          <h1>Akmaljon Khusanov</h1>
          <p class="for-text">
            When asked, I say I'm an <span class="dark">engineer</span>, but
            most of my work and accomplishments have been in
            <span class="dark">teaching English</span>. From
            <span class="dark">2006 to 2012,</span> I completed a bachelor’s and
            master’s degree at the
            <span class="dark"
              >Tashkent Automobile and Road Construction Intitute,</span
            >
            and from <span class="dark">2013 to 2015</span>, I received another
            master’s degree from the
            <span class="dark">Masdar Institute [Abu Dhabi].</span> I currently
            teach engineering course in the field of
            <span class="dark"
              >Mechanical Engineering at Andijan Machine Building
              Institute,</span
            >
            but my main job is to contribute to the development of English
            language skills of young people in
            <span class="dark">Smart English</span>. I started out as a teacher,
            but now I'm a <span class="dark">CEO of Smart English</span>, isn't
            it interesting? Being the
            <span class="dark">CEO at Smart English</span>, I consider it my
            main duty and responsibility to ensure that every student is
            satisfied with the service we provide. I guarantee that you will
            always learn meaningful and effective lessons with our language
            teaching experts who are ready to help and support your development.
            Join us and get reliable aid to achieve your dreams.
          </p>
        </div>
      </div>

      <div class="members">
        <h1>Our Team</h1>
        <div class="people">
          <div class="person">
            <img src="./img/person.png" alt="" />
            <div class="overlay">
              <h3>John Doe</h3>
              <p>Manager</p>
            </div>
          </div>
          <div class="person">
            <img src="./img/person1.png" alt="" />
            <div class="overlay">
              <h3>John Doe</h3>
              <p>Manager</p>
            </div>
          </div>
          <div class="person">
            <img src="./img/person2.png" alt="" />
            <div class="overlay">
              <h3>John Doe</h3>
              <p>Manager</p>
             </div>
          </div>
         <div class="person">
            <img src="./img/person3.png" alt="" />
            <div class="overlay">
              <h3>John Doe</h3>
              <p>Manager</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer>
      <div class="footer container1">
        <div class="logoPart">
          <h3 class="logo-setting">
            Smart English <br />
            Official.
          </h3>

          <p style="white-space: nowrap">
            © 2017 - 2021 SMART ENGLISH EDUCATION CENTRE
          </p>
        </div>
        <div class="pages">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/news">News</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/study">Study & work</a></li>
            <li><a href="/courses">Courses</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </div>
        <div class="location">
          <h4>
            <span>Andijan viloyati, Marhamat tumani</span> <br />
            Ipak yo’li 76-uy
          </h4>

          <a href="+998994721816">+998 99 472 18 16</a>

          <a href="+998994321816">+998 99 432 18 16</a>
        </div>
        <div class="socialSites">
          <h4><a href="#">Instagram</a></h4>
          <h4><a href="#">Telegram</a></h4>
          <h4><a href="#">YouTube</a></h4>
        </div>
      </div>
    </footer>
    <script src="js/main.js"></script>
  </body>
</html>
