<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Smart English Official</title>
    <link rel="stylesheet" href="css/navbar-footer-settings.css" />
    <link rel="stylesheet" href="css/courses.css" />
    <link rel="icon" href="img/Group 5.png" type="image/png" />
  </head>
  <body>
    <header>
      <nav>
        <div class="navbar-brand">
          <h3 class="logo-setting">
            smart english <br />
            official.
          </h3>
        </div>

        <ul class="linksToPages">
          <li><a href="/index">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/courses">Courses</a></li>
        </ul>

        <div class="controls">
          <div class="changeLanguage">
            <h3 onclick="myFunction()" class="dropbtn">Eng</h3>

            <img
              id="direction"
              class="dropbtn"
              src="img/controlsPart.svg"
              alt=""
              onclick="myFunction()"
            />
            <ul id="drop-down" class="drop-down-menu">
              <li><a href="#">Uzb</a></li>
            </ul>
          </div>
          <div class="burger" onclick="name()">
            <div class="line line1"></div>
            <div class="line line2"></div>
            <div class="line line3"></div>
            <div id="main-menu-content" class="main-menu">
              <ul>
                <li><a href="/index">Home</a></li>
                <hr style="width: 100%" />
                <li><a href="/about">About</a></li>
                <hr style="width: 100%" />
                <li><a href="/courses">Courses</a></li>
                <hr style="width: 100%" />
                <li><a href="/study">Ta'lim & ish</a></li>
                <hr style="width: 100%" />
                <li><a href="/vacancies">Vakansiya</a></li>
                <hr style="width: 100%" />
                <li><a href="/news">News</a></li>
                <hr style="width: 100%" />
                <li><a href="/contact">Bog'lanish</a></li>
              </ul>
            </div>
          </div>
        </div>
      </nav>

      <div class="attractiveAds container1">
        <h1>Our Courses</h1>
      </div>
    </header>

    <div class="container">
      <div class="adults" id="mature">
        <div class="part">
          <h1>Adult's Group</h1>
          <p>15 and above</p>
        </div>

        <div class="description">
          <p>
            Adult’s group is an opportunity to practice spoken English in the
            most conducive environment. By improving their language skills and
            preparing for exams, high school students become more confident and
            speak more fluently. The course program is adapted to the individual
            goals of adolescents and helps to achieve level C1 and more.
          </p>
        </div>
      </div>

      <div class="teenagers">
        <div class="part">
          <h1>Teenager's Group</h1>
          <p>13 to 14 years old</p>
        </div>

        <div class="description">
          <p>
            Teenager’s group includes six levels: from A1 to B2 according to the
            Common European Framework of Reference for Languages (CEFR). It
            develops language skills, from reading and writing to listening and
            pronunciation. Students gain irreplaceable communication experience,
            improve academic performance in a general education school and will
            make them successfully pass the exams at school.
          </p>
        </div>
      </div>

      <div class="kids">
        <div class="part">
          <h1>Kid's Group</h1>
          <p>7 to 12 years old</p>
        </div>

        <div class="description">
          <p>
            Smart English helps young learners practice their English skills
            while having fun. Smart English has got a syllabus which focuses on
            improving vocabulary and children learn the most useful English
            words. Lessons are aimed at consolidating in the child's memory the
            sound and written form of English words, as well as their
            translation. The lessons consist of five stages, each of which
            serves to develop specific language skills.
          </p>
        </div>
      </div>

      <div class="enroll">
        <h1>Enroll in a Course</h1>

        <form action="#">
          <input type="text" placeholder="Name" maxlength="30" required />
          <input
            type="email"
            placeholder="Email"
            max-length
            maxlength="30"
            required
          />
          <input
            type="text"
            onkeypress="return isNumberKey(event)"
            placeholder="Phone"
            maxlength="17"
            required
          />
          <input
            type="text"
            onkeypress="return isNumberKey(event)"
            placeholder="Age"
            maxlength="2"
            required
          />
          <button type="submit">Submit</button>
        </form>
      </div>
    </div>

    <footer>
      <div class="footer container1">
        <div class="logoPart">
          <h3 class="logo-setting">
            Smart English <br />
            Official.
          </h3>

          <p style="white-space: nowrap">
            © 2017 - 2021 SMART ENGLISH EDUCATION CENTRE
          </p>
        </div>
        <div class="pages">
          <ul>
            <li><a href="/index">Home</a></li>
            <li><a href="/news">News</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/study">Study & work</a></li>
            <li><a href="/courses">Courses</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </div>
        <div class="location">
          <h4>
            <span>Andijan viloyati, Marhamat tumani</span> <br />
            Ipak yo’li 76-uy
          </h4>

          <a href="+998994721816">+998 99 472 18 16</a>

          <a href="+998994721816">+998 99 472 18 16</a>
        </div>
        <div class="socialSites">
          <h4><a href="#">Instagram</a></h4>
          <h4><a href="#">Telegram</a></h4>
          <h4><a href="#">YouTube</a></h4>
        </div>
      </div>
    </footer>
    <script src="js/main.js"></script>
  </body>
</html>
