<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Smart English Official</title>
    <link rel="stylesheet" href="css/navbar-footer-settings.css" />
    <link rel="stylesheet" href="css/news.css" />
    <link rel="icon" href="img/Group 5.png" type="image/png" />
  </head>
  <body>
    <header>
      <nav>
        <div class="navbar-brand">
          <h3 class="logo-setting">
            smart english <br />
            official.
          </h3>
        </div>

        <ul class="linksToPages">
          <li><a href="/index">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/courses">Courses</a></li>
        </ul>

        <div class="controls">
          <div class="changeLanguage">
            <h3 onclick="myFunction()" class="dropbtn">Eng</h3>

            <img
              id="direction"
              class="dropbtn"
              src="img/controlsPart.svg"
              alt=""
              onclick="myFunction()"
            />
            <ul id="drop-down" class="drop-down-menu">
              <li><a href="#">Uzb</a></li>
            </ul>
          </div>
          <div class="burger" onclick="name()">
            <div class="line line1"></div>
            <div class="line line2"></div>
            <div class="line line3"></div>
            <div id="main-menu-content" class="main-menu">
              <ul>
                <li><a href="/index">Home</a></li>
                <hr style="width: 100%" />
                <li><a href="/about">About</a></li>
                <hr style="width: 100%" />
                <li><a href="/courses">Courses</a></li>
                <hr style="width: 100%" />
                <li><a href="/study">Ta'lim & ish</a></li>
                <hr style="width: 100%" />
                <li><a href="/vacancies">Vakansiya</a></li>
                <hr style="width: 100%" />
                <li><a href="/news">News</a></li>
                <hr style="width: 100%" />
                <li><a href="/contact">Bog'lanish</a></li>
              </ul>
            </div>
          </div>
        </div>
      </nav>

      <div class="attractiveAds container1">
        <h1>News</h1>
        <p>We provide advice and support when studying abroad.</p>
      </div>
    </header>

    <div class="container">
      <p>
        <span class="dark">Smart English</span> is an
        <span class="dark">innovative</span> learning center! Here you will find
        classes in the style of your <span class="dark">dream</span>. All
        <span class="dark">facilities</span> and news will be continuous; also
        there are <span class="dark">competitions</span> such as debate clubs,
        <span class="dark">conversation</span> clubs and battles, where all
        young people will test their knowledge.
      </p>

      <div class="nutshell">
        <h3>In a nutshell:</h3>
        <ul>
          <div class="advantage">
            <img src="img/right.svg" alt="" />
            <li>You can attend classes every day</li>
          </div>

          <div class="advantage">
            <img src="img/right.svg" alt="" style="vertical-align: top" />
            <li>
              You can receive discounts. It is worth mentioning that you can
              study FREE and also we can pay you money if you perform well in
              Smart English
            </li>
          </div>

          <div class="advantage">
            <img src="img/right.svg" alt="" />
            <li>
              You will have the opportunity to compare your knowledge through
              monthly exams.
            </li>
          </div>
        </ul>
      </div>
    </div>

    <footer>
      <div class="footer container1">
        <div class="logoPart">
          <h3 class="logo-setting">
            Smart English <br />
            Official.
          </h3>

          <p style="white-space: nowrap">
            © 2017 - 2021 SMART ENGLISH EDUCATION CENTRE
          </p>
        </div>
        <div class="pages">
          <ul>
            <li><a href="/index">Home</a></li>
            <li><a href="/news">News</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/study">Study & work</a></li>
            <li><a href="/courses">Courses</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </div>
        <div class="location">
          <h4>
            <span>Andijan viloyati, Marhamat tumani</span> <br />
            Ipak yo’li 76-uy
          </h4>

          <a href="+998994721816">+998 99 472 18 16</a>

          <a href="+998994721816">+998 99 472 18 16</a>
        </div>
        <div class="socialSites">
          <h4><a href="#">Instagram</a></h4>
          <h4><a href="#">Telegram</a></h4>
          <h4><a href="#">YouTube</a></h4>
        </div>
      </div>
    </footer>
    <script src="js/main.js"></script>
  </body>
</html>
