<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Smart English Official</title>
    <link rel="stylesheet" href="css/navbar-footer-settings.css" />
    <link rel="stylesheet" href="css/study.css" />
    <link rel="icon" href="img/Group 5.png" type="image/png" />
  </head>
  <body>
    <header>
      <nav>
        <div class="navbar-brand">
          <h3 class="logo-setting">
            smart english <br />
            official.
          </h3>
        </div>

        <ul class="linksToPages">
          <li><a href="/index">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/courses">Courses</a></li>
        </ul>

        <div class="controls">
          <div class="changeLanguage">
            <h3 onclick="myFunction()" class="dropbtn">Eng</h3>

            <img
              id="direction"
              class="dropbtn"
              src="img/controlsPart.svg"
              alt=""
              onclick="myFunction()"
            />
            <ul id="drop-down" class="drop-down-menu">
              <li><a href="#">Uzb</a></li>
            </ul>
          </div>
          <div class="burger" onclick="name()">
            <div class="line line1"></div>
            <div class="line line2"></div>
            <div class="line line3"></div>
            <div id="main-menu-content" class="main-menu">
              <ul>
                <li><a href="/index">Home</a></li>
                <hr style="width: 100%" />
                <li><a href="/about">About</a></li>
                <hr style="width: 100%" />
                <li><a href="/courses">Courses</a></li>
                <hr style="width: 100%" />
                <li><a href="/study">Ta'lim & ish</a></li>
                <hr style="width: 100%" />
                <li><a href="/vacancies">Vakansiya</a></li>
                <hr style="width: 100%" />
                <li><a href="/news">News</a></li>
                <hr style="width: 100%" />
                <li><a href="/contact">Bog'lanish</a></li>
              </ul>
            </div>
          </div>
        </div>
      </nav>

      <div class="attractiveAds container1">
        <h1>Study And Work Abroad</h1>
        <p>
          We now offer our services under the name of Smart Consulting for those
          who want to study abroad.
        </p>
      </div>
    </header>

    <div class="container">
      <div class="title">
        <h1>Study & Work</h1>
      </div>

      <div class="options">
        <h2 class="name">Consultation</h2>
        <p class="text">
          Full consultation on higher education, educational institutions,
          programs and tuition fees. Inform you about the admission requirements
          for the universities of your choice.
        </p>

        <h2 class="name">Admission</h2>
        <p class="text">
          Assistance in developing a strategy for admitting students to your
          chosen university, collecting documents for writing and sending a
          cover letter and questionnaire
        </p>

        <h2 class="name">Help entering the university</h2>
        <p class="text">
          Full preparation of documents for submission, Application form
          filling, application to universities, Student visa application,
          Accommodation costs calculation.
        </p>

        <h2 class="name">Finding jobs locally and globally:</h2>
        <p class="text">
          With the help of our partners in Uzbekistan and around the world, we
          guarantee that you will find the job you want, along with a decent
          salary and additional bonuses.
        </p>
      </div>
      <img src="img/stud.svg" alt="" />
    </div>

    <footer>
      <div class="footer container1">
        <div class="logoPart">
          <h3 class="logo-setting">
            Smart English <br />
            Official.
          </h3>

          <p style="white-space: nowrap">
            © 2017 - 2021 SMART ENGLISH EDUCATION CENTRE
          </p>
        </div>
        <div class="pages">
          <ul>
            <li><a href="/index">Home</a></li>
            <li><a href="/news">News</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/study">Study & work</a></li>
            <li><a href="/courses">Courses</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </div>
        <div class="location">
          <h4>
            <span>Andijan viloyati, Marhamat tumani</span> <br />
            Ipak yo’li 76-uy
          </h4>

          <a href="+998994721816"> <h4>+998 99 472 18 16</h4></a>
          <a href="+998994721816"> <h4>+998 99 472 18 16</h4></a>
        </div>
        <div class="socialSites">
          <h4><a href="#">Instagram</a></h4>
          <h4><a href="#">Telegram</a></h4>
          <h4><a href="#">YouTube</a></h4>
        </div>
      </div>
    </footer>
    <script src="js/main.js"></script>
  </body>
</html>
