<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Smart English Official</title>
    <link rel="stylesheet" href="css/navbar-footer-settings.css" />
    <link rel="stylesheet" href="css/vacancies.css" />
    <link rel="icon" href="img/Group 5.png" type="image/png" />
  </head>
  <body>
    <header>
      <nav>
        <div class="navbar-brand">
          <h3 class="logo-setting">
            smart english <br />
            official.
          </h3>
        </div>

        <ul class="linksToPages">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/courses">Courses</a></li>
        </ul>

        <div class="controls">
          <div class="changeLanguage">
            <h3 onclick="myFunction()" class="dropbtn">Eng</h3>

            <img
              id="direction"
              class="dropbtn"
              src="img/controlsPart.svg"
              alt=""
              onclick="myFunction()"
            />
            <ul id="drop-down" class="drop-down-menu">
              <li><a href="#">Uzb</a></li>
            </ul>
          </div>
          <div class="burger" onclick="name()">
            <div class="line line1"></div>
            <div class="line line2"></div>
            <div class="line line3"></div>
            <div id="main-menu-content" class="main-menu">
              <ul>
                <li><a href="/">Home</a></li>
                <hr style="width: 100%" />
                <li><a href="/about">About</a></li>
                <hr style="width: 100%" />
                <li><a href="/courses">Courses</a></li>
                <hr style="width: 100%" />
                <li><a href="/study">Ta'lim & ish</a></li>
                <hr style="width: 100%" />
                <li><a href="/vacancies">Vakansiya</a></li>
                <hr style="width: 100%" />
                <li><a href="/news">News</a></li>
                <hr style="width: 100%" />
                <li><a href="/contact">Bog'lanish</a></li>
              </ul>
            </div>
          </div>
        </div>
      </nav>

      <div class="attractiveAds container1">
        <h1>Vacancies</h1>
      </div>
    </header>

    <div class="container">
      <h2>English language teacher</h2>
      <div class="needs">
        <div class="teacher-part">
          <p class="for-text">
            Those who come from far places will be provided with a modern shared
            appartment.
          </p>
          <br /><br />
          <p class="for-text">
            Monthly salery will make you happy. <br /><br />
            Time 8:00 - 18:00
          </p>
        </div>
        <div class="requirements">
          <ul>
            <div class="must-have">
              <img src="img/right.svg" alt="" />
              <li class="for-text">Ready to work hard and smart</li>
            </div>
            <div class="must-have">
              <img src="img/right.svg" alt="" />
              <li class="for-text">Team player</li>
            </div>
            <div class="must-have">
              <img src="img/right.svg" alt="" />
              <li class="for-text">Level of English C1</li>
            </div>
            <div class="must-have">
              <img src="img/right.svg" alt="" />
              <li class="for-text">
                Able to involve various methods in teaching
              </li>
            </div>
          </ul>
        </div>
        <div class="telForContact">
          <p class="for-text">+998 99 906 50 23</p>
          <br />
          <a class="for-text" href="#"> Telegram</a>
        </div>
      </div>
    </div>

    <footer>
      <div class="footer container1">
        <div class="logoPart">
          <h3 class="logo-setting">
            Smart English <br />
            Official.
          </h3>

          <p style="white-space: nowrap">
            © 2017 - 2021 SMART ENGLISH EDUCATION CENTRE
          </p>
        </div>
        <div class="pages">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/news">News</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/study">Study & work</a></li>
            <li><a href="/courses">Courses</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </div>
        <div class="location">
          <h4>
            <span>Andijan viloyati, Marhamat tumani</span> <br />
            Ipak yo’li 76-uy
          </h4>

          <a href="+998994721816"> <h4>+998 99 472 18 16</h4></a>
          <a href="+998994721816"> <h4>+998 99 472 18 16</h4></a>
        </div>
        <div class="socialSites">
          <h4><a href="#">Instagram</a></h4>
          <h4><a href="#">Telegram</a></h4>
          <h4><a href="#">YouTube</a></h4>
        </div>
      </div>
    </footer>
    <script src="js/main.js"></script>
  </body>
</html>
