/* _-_-_-_-_-_-_-_-_-_-_-_-_-_-_- Fonts _-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */

@font-face {
  font-family: "Axiforma Semibold";
  src: url("../fonts/Axiforma-SemiBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Semibold"), local("Gilroy-Semibold"),
    url("../fonts/Gilroy-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy Bold";
  src: local("Gilroy Bold"), local("Gilroy-Bold"),
    url("../fonts/Gilroy-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy Regular";
  src: local("Gilroy Regular"), local("Gilroy-Regular"),
    url("../fonts/Gilroy-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy Light";
  src: url("../fonts/Gilroy-Light.woff"),
    url("Gilroy-Light.woff") format("woff");
  font-weight: normal;
  font-style: light;
}

@font-face {
  font-family: "Gilroy Medium";
  src: url("../fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
}

/* _-_-_-_-_-_-_-_-_-_-_-_-_-_- Default Settings _-_-_-_-_-_-_-_-_-_-_-_ */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* _-_-_-_-_-_-_-_-_-_-_-_-_-_- Main Part Settings _-_-_-_-_-_-_-_-_-_-_-_ */

html,
body {
  overflow-x: hidden;
}

header {
  background-color: rgba(3, 18, 109, 1);
  color: #fff;
  padding: 25px 130px 0;
}

nav {
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-setting {
  font-family: "Axiforma Semibold", sans-serif;
  color: #fff;
  font-weight: 600;
  text-transform: capitalize;
  cursor: pointer;
}

ul li a {
  text-decoration: none;
  color: rgba(165, 171, 205, 1);
  white-space: nowrap;
  font-size: 14px;
  transition: all 0.3s ease-in-out;
  font-family: "Gilroy";
}

ul li {
  list-style: none;
}

.linksToPages {
  display: flex;
}

.linksToPages li:nth-child(2) a {
  margin: 0 35px;
}

ul a:hover,
li:first-child a {
  color: rgba(255, 255, 255, 1);
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.changeLanguage {
  display: flex;
  justify-content: space-around;
  cursor: pointer;
  margin-right: 47px;
  position: relative;
}

.controls .changeLanguage h3 {
  font: 14px "Gilroy";
  color: rgba(255, 255, 255, 1);
  margin-right: 8px;
}

.drop-down-menu {
  display: none;
  flex-direction: column;
  width: 50px;
  position: absolute;
  top: 20px;
  left: 0px;
}

.changeLanguage img {
  width: 14px;
  transition: all 0.3s ease-in-out;
}

.burger {
  width: 23px;
  position: relative;
  cursor: pointer;
}

.burger .line {
  height: 2px;
  width: 23px;
  margin: 5px 0;
  background-color: #ffffff;
}

.main-menu {
  text-align: left;
  position: absolute;
  top: 45px;
  border-radius: 2px;
  right: -2px;
  width: 150px;
  transform: translateX(2500px);
  background: white;
  transition: all 0.3s ease-in-out;
}

.main-menu ul {
  display: flex;
  flex-direction: column;
}

.main-menu ul li:nth-child(1),
.main-menu li:nth-child(3),
.main-menu li:nth-child(5),
.main-menu hr:nth-child(2),
.main-menu hr:nth-child(4) {
  display: none;
}

.main-menu ul li {
  padding: 10px 20px;
  margin: -2px 0 0 0;
}

.main-menu ul li a {
  color: rgba(18, 18, 18, 1) !important;
}

.main-menu ul li:hover {
  background: rgba(3, 18, 109, 1);
}

.main-menu ul li:hover a {
  color: rgba(255, 255, 255, 1) !important;
}

.attractiveAds {
  width: 100%;
  text-align: left;
  padding: 70px 0 50px;
}

header h1 {
  text-transform: capitalize;
  font: 55px "Gilroy Bold";
}

header p {
  font: 14px "Gilroy Regular";
  color: #8a8a8a;
  padding: 10px 5px;
}

.container,
nav,
.container1 {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container,
  nav,
  .container1 {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container,
  nav,
  .container1 {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container,
  nav,
  .container1 {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container,
  nav,
  .container1 {
    max-width: 1140px;
  }
}

/* _-_-_-_-_-_-_-_-_-_-_-_-_-_- Footer Settings -_-_-_-_-_-_-_-_-_-_-_-_ */

footer {
  background: rgba(3, 18, 109, 1);
  padding: 35px 130px;
}

.footer {
  display: flex !important;
  justify-content: space-between;
}

.footer p {
  color: #fff;
  font-family: "Gilroy Light";
  font-size: 8px;
  padding: 75px 0 0 0;
}

.pages,
.logoPart,
.location,
.socialSites {
  width: 19%;
}

.pages ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.pages ul li {
  width: 35%;
  margin: 0px 0 20px 0;
}

.pages ul li a {
  color: #a5abcd;
}

.pages ul li:hover a {
  color: white;
}

.location {
  margin-right: -30px;
}

.location h4,
.location a,
.socialSites h4 {
  font: 400 14px "Gilroy Light" !important;
  color: #fff !important;
}

.location a {
  display: block;
  text-decoration: none;
}

.location a:nth-child(2) {
  margin: 20px 0 10px;
}

.location span {
  white-space: nowrap;
}

.socialSites {
  text-align: end;
}

.socialSites h4 {
  margin-bottom: 15px;
}

.socialSites a {
  color: #fff;
  text-decoration: none;
}

.socialSites a:hover {
  text-decoration: underline;
}

/* _-_-_-_-_-_-_-_-_-_-_-_-_-_- JS effects _-_-_-_-_-_-_-_-_-_-_-_ */

.show {
  display: flex;
}

.show1 {
  transform: rotateX(180deg);
}

.change-position {
  transform: translateX(0px);
}

/* _-_-_-_-_-_-_-_-_-_-_-_- Responsive Settings -_-_-_-_-_-_-_-_-_-_ */

@media (max-width: 576px) {
  nav {
    padding: 0 0 0 0;
  }

  header {
    padding: 20px 25px;
  }

  .logo-setting {
    font-size: 16px;
  }

  .linksToPages {
    display: none;
  }

  .main-menu ul li:nth-child(1),
  .main-menu li:nth-child(3),
  .main-menu li:nth-child(5),
  .main-menu hr:nth-child(2),
  .main-menu hr:nth-child(4) {
    display: initial;
  }

  .burger .line {
    height: 1px;
    margin: 7px 0;
  }

  .changeLanguage {
    margin-right: 30px;
  }

  .attractiveAds {
    padding: 50px 0 35px;
  }

  .attractiveAds br {
    display: none;
  }

  header h1 {
    font-size: 30px;
  }

  header p {
    padding: 15px 0 0 0;
  }

  /* _-_-_-_-_-_-_-_-_-_-_-_-_-_- Footer Settings -_-_-_-_-_-_-_-_-_-_-_-_ */

  footer {
    padding: 50px 25px 60px;
    position: relative;
  }

  .footer {
    flex-wrap: wrap;
  }

  .logoPart {
    padding: 0 0 10px;
  }

  .logoPart p {
    padding: 0 0;
    position: absolute;
    bottom: 20px;
    font-size: 9px;
  }

  .logoPart,
  .location,
  .socialSites {
    width: 100%;
  }

  .pages {
    display: none;
  }

  .location h4,
  .location a {
    font-size: 12px !important;
    width: 45% !important;
  }

  .location h4:nth-child(2) {
    margin: 25px 0 10px 0;
  }

  .socialSites {
    display: flex;
    justify-content: left;
    margin-top: 20px;
    flex-direction: row;
  }

  .socialSites h4 {
    font-size: 12px;
  }

  .socialSites h4:nth-child(2) {
    margin: 0 20px;
  }
}

@media (min-width: 577px) and (max-width: 767px) {
  header {
    padding: 30px 30px;
  }

  .logo-setting {
    font-size: 18.5px;
  }

  .linksToPages {
    display: none;
  }

  .main-menu ul li:nth-child(1),
  .main-menu li:nth-child(3),
  .main-menu li:nth-child(5),
  .main-menu hr:nth-child(2),
  .main-menu hr:nth-child(4) {
    display: initial;
  }

  .burger .line {
    height: 1px;
    margin: 7px 0;
  }

  .changeLanguage {
    margin-right: 35px;
  }

  .attractiveAds {
    padding: 60px 0 20px;
  }

  .attractiveAds br {
    display: none;
  }

  header h1 {
    font-size: 40px;
  }

  header p {
    padding: 15px 0 0 0;
    width: 70%;
  }

  /* _-_-_-_-_-_-_-_-_-_-_-_-_-_- Footer Settings -_-_-_-_-_-_-_-_-_-_-_-_ */

  footer {
    position: relative;
    padding: 40px 30px;
  }

  .footer {
    flex-wrap: wrap;
  }

  .logoPart p {
    position: absolute;
    bottom: 20px;
    font-size: 9px;
  }

  .logoPart,
  .location,
  .socialSites {
    width: 100%;
  }

  .pages {
    display: none;
  }

  .location {
    padding: 30px 0 0;
  }

  .location h4,
  .location a {
    font-size: 12px;
    width: 30%;
  }

  .socialSites {
    display: flex;
    justify-content: left;
    margin: 30px 0;
  }

  .socialSites a:nth-child(2) {
    margin: 0 20px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  header {
    padding: 30px 60px;
  }

  .logo-setting {
    font-size: 14px;
  }

  ul li a {
    font-size: 11px;
  }

  .main-menu ul li:nth-child(1),
  .main-menu li:nth-child(3),
  .main-menu li:nth-child(5),
  .main-menu hr:nth-child(2),
  .main-menu hr:nth-child(4) {
    display: none;
  }

  .burger .line {
    height: 1px;
    margin: 7px 0;
  }

  .changeLanguage {
    margin-right: 35px;
  }

  .changeLanguage h3 {
    font-size: 13px !important;
  }

  .attractiveAds {
    padding: 70px 30px;
  }

  header h1 {
    font-size: 36px;
  }

  header p {
    padding: 25px 0 0 0;
  }

  .attractiveAds {
    padding: 50px 0 20px;
  }

  .attractiveAds p {
    display: none;
  }

  /* _-_-_-_-_-_-_-_-_-_-_-_-_-_- Footer Settings -_-_-_-_-_-_-_-_-_-_-_-_ */

  footer {
    padding: 30px 60px;
  }

  .logoPart p {
    white-space: nowrap;
  }

  .logoPart,
  .pages,
  .location,
  .socialSites {
    width: inherit;
  }

  .pages {
    margin-left: -80px;
  }

  .pages a {
    font-size: 10px;
  }

  .pages ul li {
    margin: 0 0 15px;
  }

  .location h4,
  .location a {
    font-size: 10px;
  }

  .socialSites h4,
  .socialSites a {
    font-size: 10px;
  }
}

@media (min-width: 992px) and (max-width: 1119px) {
  header {
    padding: 30px 70px;
  }

  .logo-setting {
    font-size: 18.5px;
  }

  ul li a {
    font-size: 13px;
  }

  .main-menu ul li:nth-child(1),
  .main-menu li:nth-child(3),
  .main-menu li:nth-child(5),
  .main-menu hr:nth-child(2),
  .main-menu hr:nth-child(4) {
    display: none;
  }

  .burger .line {
    height: 1px;
    margin: 7px 0;
  }

  .changeLanguage {
    margin-right: 35px;
  }

  .changeLanguage h3 {
    font-size: 13px !important;
  }

  .attractiveAds {
    padding: 55px 0px 20px;
  }

  header h1 {
    font-size: 44px;
  }

  header p {
    padding: 25px 0 0 0;
    width: 60%;
  }

  /* _-_-_-_-_-_-_-_-_-_-_-_-_-_- Footer Settings _-_-_-_-_-_-_-_-_-_-_-_ */

  footer {
    padding: 30px 70px;
  }

  .location h4,
  .location a {
    font-size: 13px;
  }

  .location {
    width: 24%;
  }
}
